.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.align-center {
  align-items: center;
}
.justify-between {
  justify-content: space-between;
}
.justify-start {
  justify-content: flex-start;
}
.flex-grow {
  flex-grow: 1;
}
.justify-between {
  justify-content: start;
}
.flex-center {
  display: flex;
  justify-content: center;
  width: 1200px;
}
.flex-column {
  flex-direction: column;
}
:root {
  --el-menu-border-color: rgba(0, 0, 0, 0);
  --el-menu-horizontal-height: 50px;
}
